*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.form .submitButton {
    width: 250px;
    border-radius: 100px;
    margin-top: 10px;
}

.center{
    text-align: center;
}

.verification{
    margin-top: 20px;
}

.otpInputFields{
    margin: auto;
    /* background-color: red; */
    box-shadow: 0 0 8px 0 #02024066;
    max-width:420px;
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 30px;
}

.otpNum{
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid blue;
    font-size: 14px;
}

.hide{
    display: none;
}

.otpNum::-webkit-inner-spin-button,
.otpNum::-webkit-outer-spin-button{
    appearance: none;
}